<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
    </head>
    <body>
        <h1>Welcome to the Social Media Analytics Homepage</h1>
        <h2>What would you like to do?</h2>
        <h4><p style="line-height:200%">
            <a href="index.html">Log In Page</a><br>
            <a href="signup.html">Sign Up</a><br>
            <button>Logout</button>
            <!Connect to facebook api logout>
        </p></h4>
        <br>

        <h3>Switch Account Type</h3>
            <h4>
                <a href="premiumhome.html">Premium User Home</a><br>
                <a href ="adminhome.html">Admin Home Page</a><br>
            </h4>
        <br>
        <h4>For more information about this site:</h4>
        <h4><a href="about.html">About</a></h4>
    </body>
</html>
