<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Social Media Analytics</title>
    </head>
    <body>
        <h1>Welcome to the Social Media Analytics Homepage</h1>
        <h2>What would you like to do?</h2>
        <h4><p style="line-height:200%">
            <a href="login.html">Log In</a><br>
            <a href="signup.html">Sign Up</a><br>
            <a href="viewdata.html">View Data</a><br>
        </p></h4>
        <br>
        <h4>For more information about this site:</h4>
        <h4><a href="about.html">About</a></h4><br>
        <h4><a href="home.html">Return to Home</a> </h4>
    </body>
</html>
